body{
    text-align: center;
    background-image: url("kepek/wavy.webp");
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed;
}

form{
    /* width: 50%;
    margin: auto;
    font-size: 16px;
    background-color: rgba(0, 100, 0,0.8);
    border: 2px solid black; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    text-shadow: 5px -5px 5px black;
}

/* #formstyle{
    background-color: rgba(0, 0, 100, 0.8);
}

#formstyle{
    background-color: rgba(255, 230, 0, 0.8) !important;
}

.formclass{
    background-color: rgba(255, 0, 0, 0.8);
}

form.formclass{
    background-color: rgba(255, 0, 234, 0.8);
} */

h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-shadow: 5px 5px 5px blue, -5px -3px 3px rgb(255, 255, 255);
}

.jobb{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bal{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.bg{
    background-color: rgba(0, 0, 0, 0.55);
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    
}

.jobb, .bal, .kozep{
    margin-bottom: 25px;
}

legend{
    text-decoration: underline;
    text-shadow: 5px 5px 5px grey;
    font-size: larger;
}

.lb{
    text-decoration: underline;
    text-shadow: 5px 5px 5px grey;
    font-size: larger;
}

input.z:checked + label {
    color: green;
}

input.s:checked + label {
    color: yellow;
}

input.p:checked + label {
    color: pink;
}

input.k:checked + label {
    color: blue;
}

input.r:checked + label {
    color: red;
}

.bal :link{
    color: green;
}

fieldset{
    box-shadow: inset 5px -5px 5px black;
}

.field{
    border-bottom: none;
    margin-top: -10px;
}

.fields{
    border-bottom: none;
    border-radius:30px 30px 0px 0px;
   
}
.fieldss{
    margin-top: -10px;
}
.fieldtop{
    border-top: none;
}

legend{
    margin-bottom: 20px;
}

.textareadiv{
    margin: auto;
    width: 80%;
}

textarea{
    width: 100%;
}

#csusz{
    width: 50%;
}

.fieldimg{
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
}

img{
    max-width: 130px;
}