body{
    color:white;
    background-image: url(wavy.webp);
    background-size: cover ;
    background-repeat: no-repeat;
}

.navi{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
}

.navi a{
    color: white;
    text-decoration: none;
    margin: auto;
}

.navi a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
}
 

.div1 {
    background-color: black;
    border: 2px solid black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.div2{
    background-color: black;
    border: 2px solid black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.div3{
    background-color: black;
    border: 2px solid black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.navi .div1{
    grid-row: 1/3;
    grid-column: 2/4;
}

.termekek img{
    width:100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.termekek{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 60px;
    margin: 30px;
    text-align: center;
}

.terbelso{
    display: grid;
    background-color: lightgray;
    justify-content: space-around;
    color: black;
    border-radius: 15px;
}

.terbelso:hover{
    transform:scale(1.1);
    background-color: grey;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.terbelso:hover a{
    transform:scale(1.1);
    color: white;
    text-shadow: 3px 3px 3px black;
}

.terbelso img:hover{
    transform:scale(1.25);
}

.terbelso strong:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;

}

.footer{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
}

.termekek a{
    font-family: arial black;
    color: black;
    text-decoration: none;
    font-size: 15px
}

.termekek a:hover{
    color: white;
    text-shadow: 6px 3px 8px black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}