body{
    background-color: rgb(233, 230, 230);
}

.header{
    background-color: rgb(80, 155, 62);
    color: white;
    text-align: center;
}

h1{
    animation-name: elojoves;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes elojoves{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.header img{
    width: 100px;
    height: 50px;
    transform: rotate3d(180deg);
    transition: 3s;
    animation-name: mozgatas;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
    margin-bottom: 15px;
}

@keyframes mozgatas{
    0%{
        transform: translate(-300px);
    }
    50%{ 
        transform: translateX(300px) rotateY(180deg);
    }
    100%{
        transform: translate(-300px);
    }
}

h1{
    font-size: 60px;
    padding-top: 30px;
    margin: 0px;
    letter-spacing: 5px;
}

h2{
    font-size: 25px;
    margin: -5px;
    padding: 5px;
    padding-bottom: 20px;
}

.kepekdiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 0px 15px 0px;
    gap: 15px;
}

.kutya1{
    background-color: white;
    border-radius: 7% 7% 7% 7%;
}

.kutya1 p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.kutya1:hover{
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0px 0px 15px 3px black;
}

.kutya1 img{
    width: 100%;
    height: 80%;
    border-radius: 7% 7% 0% 0%;
}

.kutya1:hover p{
    transform: scale(0.93);
    transition: 0.5s;
}

.footer{
    background-color: rgb(80, 155, 62);
    color: white;
    text-align: center;
}

.info{
    font-size: 17px;
    padding-top: 15px;
    animation-name: becsuszas;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes becsuszas{
    0%{
        opacity: 0%; transform:translateY(25px);
    }
    100%{
        opacity: 100%; transform:translateY(0px);
    }
}

@media (min-width: 992px){
    .kutya1 p{
        margin-top: 10px;
        font-size: 22px;
    }
}

@media (max-width: 992px){
    .kepekdiv{
        grid-template-columns: auto auto;
        grid-row: 2;
    }
}

@media (max-width: 768px){
    .kepekdiv{
        grid-template-columns: auto;
        grid-row: 4;
    }
}